## 2. Create a ticker list to use in a python file For Loop

Objectives:
- Read the stock ticker list from the SQLite DB
- Filter the dataframe by Exchange
- Create a list with the tickers for that exchange
- Save list to json file

This way we can download the financial data for all the tickers one exchange at a time.

This makes the number of queries more manageable in the next script.

In [1]:
# Imports
import os
import pandas as pd
import json

In [2]:
# Import SQLite3 table
sqlite_table = "stock_list" 
table = pd.read_sql(sqlite_table, 'sqlite:///financialmodelingprep.db')
table.head()

,symbol,name,price,exchange,exchangeShortName,type
0,CMCSA,Comcast Corporation,49.64,Nasdaq Global Select,NASDAQ,stock
1,KMI,"Kinder Morgan, Inc.",17.27,New York Stock Exchange,NYSE,stock
2,INTC,Intel Corporation,48.28,Nasdaq Global Select,NASDAQ,stock
3,MU,"Micron Technology, Inc.",81.97,Nasdaq Global Select,NASDAQ,stock
4,GE,General Electric Company,98.32,New York Stock Exchange,NYSE,stock

In [3]:
# Describing the data in the SQLite table
print("Number of Rows in the Database:")
print(len(table.index))
print("\n")
print("Types:")
print(table.type.unique())
print("\n")
print("Exchanges Covered (Long):")
print(table.exchange.unique())
print("\n")
print("Exchanges Covered (Short):")
print(table.exchangeShortName.unique())
print("\n")

Number of Rows in the Database:
28846


Types:
['stock']


Exchanges Covered (Long):
['Nasdaq Global Select' 'New York Stock Exchange' 'Nasdaq Capital Market'
 'New York Stock Exchange Arca' 'Nasdaq Global Market'
 'NASDAQ Global Market' 'Other OTC' 'Paris' 'Amsterdam' 'Brussels'
 'Lisbon' 'Toronto' 'YHD' 'EURONEXT' 'Swiss' 'AMEX' 'MCX' 'XETRA' 'NSE'
 'LSE' 'SIX' 'HKSE' 'OSE' 'NASDAQ' 'Sao Paolo' 'TSXV' 'Frankfurt' 'HKG'
 'NCM' 'MCE' 'ASE' 'OSL' 'Oslo' 'FGI' 'Irish' 'Canadian Sec' 'NZSE'
 'Nasdaq' 'Jakarta' 'Vienna' 'Santiago' 'Shenzhen' 'Shanghai' 'Hamburg'
 'Copenhagen' 'Helsinki' 'Athens' 'Milan' 'Tokyo' 'KSE' 'KOSDAQ'
 'Stockholm' 'Istanbul' 'Taiwan' 'Mexico' 'Johannesburg' 'SAT' 'SÃ£o Paulo'
 'Tel Aviv' 'Warsaw' 'Thailand' 'IOB' 'Qatar' 'Kuala Lumpur' 'Prague'
 'SES' 'Berlin' 'Taipei Exchange' 'Saudi' 'NasdaqGM' 'NasdaqGS' 'Iceland'
 'NASDAQ Capital Market' 'NYSE American']


Exchanges Covered (Short):
['NASDAQ' 'NYSE' 'AMEX' 'OTC' 'EURONEXT' 'TSX' 'MCX' 'XETRA' 'NSE' 'LSE'
 'SIX' 'HKSE' 'OSE' 'ASE' 'NASDAQ Global Market' 'BRU' 'JKT' 'VIE' 'SGO'
 'SHZ' 'SHH' 'HAM' 'CPH' 'ATH' 'MIL' 'JPX' 'KSC' 'KOE' 'STO' 'IST' 'TAI'
 'MEX' 'JNB' 'SAT' 'LIS' 'KOSDAQ' 'TLV' 'MCE' 'WSE' 'HEL' 'SAO' 'SET'
 'GER' 'IOB' 'DOH' 'KLS' 'EBS' 'PRA' 'AMS' 'BER' 'TWO' 'SAU' 'ICE']

In [7]:
# Define the Exchange to filter by:
# Go in list order.
exchange = "NASDAQ"

In [9]:
# Filter by Exchange
rslt_df = table[table['exchangeShortName'] == exchange]
rslt_df.head()

,symbol,name,price,exchange,exchangeShortName,type
0,CMCSA,Comcast Corporation,49.64,Nasdaq Global Select,NASDAQ,stock
2,INTC,Intel Corporation,48.28,Nasdaq Global Select,NASDAQ,stock
3,MU,"Micron Technology, Inc.",81.97,Nasdaq Global Select,NASDAQ,stock
6,AAPL,Apple Inc.,172.90,Nasdaq Global Select,NASDAQ,stock
7,MSFT,Microsoft Corporation,301.25,Nasdaq Global Select,NASDAQ,stock

In [10]:
# Save the dataframe as list
rslt_df = rslt_df['symbol'].tolist()

In [11]:
# Delete previous lists if they exist
file = "ticker_list.json"
if os.path.exists(file):
    os.remove(file)
    print(file+"File exists: Removed Successfuly")
else:
    print(file+" : File does not exist")

ticker_list.json : File does not exist

In [12]:
# Save list as JSON file
with open("ticker_list.json" , 'w') as f:
    json.dump(rslt_df, f, indent=2) 
    # indent=2 is not needed but makes the file human-readable