## 2. Create a ticker list to use in a python file For Loop

Objectives:
- Read the stock ticker list from the SQLite DB
- Filter the dataframe by Exchange
- Create a list with the tickers for that exchange
- Save list to json file

This way we can download the financial data for all the tickers one exchange at a time.

This makes the number of queries more manageable in the next script.

In [8]:
# Imports
import os
import pandas as pd
import json

In [2]:
# Import SQLite3 table
sqlite_table = "stock_list" 
table = pd.read_sql(sqlite_table, 'sqlite:///financialmodelingprep.db')
table.head()

,symbol,name,price,exchange,exchangeShortName,type
0,CMCSA,Comcast Corporation,47.71,Nasdaq Global Select,NASDAQ,stock
1,KMI,"Kinder Morgan, Inc.",15.93,New York Stock Exchange,NYSE,stock
2,INTC,Intel Corporation,50.00,Nasdaq Global Select,NASDAQ,stock
3,MU,"Micron Technology, Inc.",84.35,Nasdaq Global Select,NASDAQ,stock
4,GE,General Electric Company,93.13,New York Stock Exchange,NYSE,stock

In [3]:
# Describing the data in the SQLite table
print("Number of Rows in the Database:")
print(len(table.index))
print("\n")
print("Types:")
print(table.type.unique())
print("\n")
print("Exchanges Covered (Long):")
print(table.exchange.unique())
print("\n")
print("Exchanges Covered (Short):")
print(table.exchangeShortName.unique())
print("\n")

Number of Rows in the Database:
25792


Types:
['stock']


Exchanges Covered (Long):
['Nasdaq Global Select' 'New York Stock Exchange' 'Nasdaq Capital Market'
 'New York Stock Exchange Arca' 'Nasdaq Global Market'
 'NASDAQ Global Market' 'Other OTC' 'Paris' 'Amsterdam' 'Brussels'
 'Lisbon' 'Toronto' 'YHD' 'EURONEXT' 'Swiss' 'AMEX' 'MCX' 'XETRA' 'NSE'
 'LSE' 'SIX' 'HKSE' 'OSE' 'NASDAQ' 'Sao Paolo' 'TSXV' 'Frankfurt' 'HKG'
 'NCM' 'MCE' 'ASE' 'OSL' 'Oslo' 'FGI' 'Irish' 'Canadian Sec' 'NZSE'
 'Nasdaq' 'Jakarta' 'Vienna' 'Santiago' 'Shenzhen' 'Shanghai' 'Hamburg'
 'Copenhagen' 'Helsinki' 'Athens' 'Milan' 'Tokyo' 'KSE' 'KOSDAQ'
 'Stockholm' 'Istanbul' 'Taiwan' 'Mexico' 'Johannesburg' 'SAT' 'SÃ£o Paulo'
 'Tel Aviv' 'Warsaw' 'Thailand' 'IOB' 'Qatar' 'Kuala Lumpur' 'Prague'
 'SES' 'Berlin' 'Taipei Exchange' 'Saudi' 'NasdaqGM' 'NasdaqGS' 'Iceland'
 'NASDAQ Capital Market']


Exchanges Covered (Short):
['NASDAQ' 'NYSE' 'AMEX' 'EURONEXT' 'TSX' 'MCX' 'XETRA' 'NSE' 'LSE' 'SIX'
 'HKSE' 'OSE' 'BRU' 'JKT' 'VIE' 'SGO' 'SHZ' 'SHH' 'HAM' 'CPH' 'ATH' 'MIL'
 'JPX' 'KSC' 'KOE' 'STO' 'IST' 'TAI' 'MEX' 'JNB' 'SAT' 'LIS' '' 'SET'
 'EBS' 'IOB' 'TLV' 'WSE' 'DOH' 'KLS' 'PRA' 'AMS' 'BER' 'TWO' 'SAU' 'HEL'
 'ICE']

In [4]:
# Define the Exchange to filter by
exchange = "LSE"

In [5]:
# Filter by Exchange
rslt_df = table[table['exchangeShortName'] == exchange]
rslt_df.head()

,symbol,name,price,exchange,exchangeShortName,type
8809,0A0C.L,Stadler Rail AG,39.26,LSE,LSE,stock
8810,0A1K.L,NIO Inc.,33.74,LSE,LSE,stock
8811,0A1O.L,"Zoom Video Communications, Inc.",185.10,LSE,LSE,stock
8812,0AH7.L,BayWa Aktiengesellschaft,37.10,LSE,LSE,stock
8813,0AR9.L,Mynaric AG,51.50,LSE,LSE,stock

In [ ]:
# Save the dataframe as list
rslt_df = rslt_df['symbol'].tolist()

In [9]:
# Delete previous lists if they exist
file = "ticker_list.json"
if os.path.exists(file):
    os.remove(file)
    print(file+"File exists: Removed Successfuly")
else:
    print(file+" : File does not exist")

ticker_list.json : File does not exist

In [10]:
# Save list as JSON file
with open("ticker_list.json" , 'w') as f:
    json.dump(rslt_df, f, indent=2) 
    # indent=2 is not needed but makes the file human-readable